@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&family=Metal+Mania&family=Noto+Serif:wght@400;700&display=swap");
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  overflow-y: scroll;
  font-family: 'Merriweather', serif !important;
  font-family: "Merriweather", serif !important;
}
